<footer class="deneb_footer">
  <div class="widget_wrapper" style="background-image: url('http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png');">
    <div class="container">
      <div class="row">
        <!-- About widget -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="widget widget_about">
            <div class="widget_title">
              <img src="https://media.licdn.com/dms/image/v2/C4D0BAQGQM5fbj_tuLw/company-logo_200_200/company-logo_200_200/0/1644269769129/institutoquitoitq_logo?e=2147483647&v=beta&t=5ACM9XFJqBPaA6SmE1eF0sTbEwfYXIqjmfpyPhdIGU0" class="img-fluid" alt="Instituto Quito ITQ Logo">
            </div>
            <p>Quisque orci nisl, viverra et sem ac, tincidunt egestas massa. Morbi est arcu, hendrerit ac vehicula condimentum, euismod nec tortor praesent consequat urna.</p>
            <ul class="social">
  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
  <li><a href="#"><i class="fab fa-instagram"></i></a></li>

            </ul>
          </div>
        </div>

        <!-- Links widget -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="widget widget_link">
            <div class="widget_title">
              <h4>Links</h4>
            </div>
            <ul>
              <li><a href="/portal">Portal</a></li>
              <li><a href="/formu">Contactanos</a></li>
            </ul>
          </div>
        </div>

        <!-- Contact widget -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="widget widget_contact">
            <div class="widget_title">
              <h4>Contact Us</h4>
            </div>
            <div class="contact_info">
              <div class="single_info">
                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                <div class="info">
                  <p><a href="tel:+593995628826">0995628826</a></p>
                </div>
              </div>
              <div class="single_info">
                <div class="icon"><i class="fas fa-envelope"></i></div>
                <div class="info">
                  <p><a href="mailto:alan.solano@itq.edu.ec">alan.solano&#64;itq.edu.ec</a></p>
                </div>
              </div>
              <div class="single_info">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                <div class="info">
                  <p>Carcelen <span>Quito.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- widget_wrapper -->

  <div class="copyright_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright_text">
            <p>Copyright &copy; 2025 Todos los derechos reservados, Alan Solano.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
